# Machine Learn

    This dataset provides a comprehensive overview of the financial losses due to various types of cybercrime in all 50 states and Washington D.C. in the United States for the years 2020 and 2021. The dataset is curated with detailed attention to demographic and regional variances, as well as the types of cybercrime that occurred. The data for individual crimes was extracted from the Internet Crime Complaint Centre, a unit under the FBI (Federal Bureau of Investigation).

    The columns in this dataset are:

•s/n: Serial Number.

•State: The US state in which the cybercrimes occurred.

•Year: The year of the cybercrimes (2020 or 2021).

•Population: The population of the state for the given year.

•Totalcrime_count: The total count of all cybercrimes in the state for the given year.

•Totalcrime_loss: The total financial loss (in US dollars) due to all cybercrimes in the state for the given year.

•Bec_count: The count of Business Email Compromise (BEC) incidents in the state for the given year.

•Bec_loss: The total financial loss (in US dollars) due to BEC in the state for the given year.

•Romance_counts: The count of romance scam incidents in the state for the given year.

•Romance_loss: The total financial loss (in US dollars) due to romance scams in the state for the given year.

•Creditcard_count: The count of credit card fraud incidents in the state for the given year.

•Creditcard_loss: The total financial loss (in US dollars) due to credit card fraud in the state for the given year.

•Databreach_count: The count of data breach incidents in the state for the given year.

•Databreach_loss: The total financial loss (in US dollars) due to data breaches in the state for the given year.

•GovtImp_count: The count of government impersonation fraud incidents in the state for the given year.

•GovtImp_loss: The total financial loss (in US dollars) due to government impersonation fraud in the state for the given year.

•Age<20_count: The count of cybercrime victims under the age of 20.

•Age<20_loss: The total financial loss (in US dollars) for victims under the age of 20.

•Age<29_count: The count of cybercrime victims between the ages of 20 and 29.

•Age<29_loss: The total financial loss (in US dollars) for victims between the ages of 20 and 29.

•Age<39_count: The count of cybercrime victims between the ages of 30 and 39.

•Age<39_loss: The total financial loss (in US dollars) for victims between the ages of 30 and 39.

•Age<49_count: The count of cybercrime victims between the ages of 40 and 49.

•Age<49_loss: The total financial loss (in US dollars) for victims between the ages of 40 and 49.

•Age<59_count: The count of cybercrime victims between the ages of 50 and 59.

•Age<59_loss: The total financial loss (in US dollars) for victims between the ages of 50 and 59.

•Age>60_count: The count of cybercrime victims aged 60 and above.

•Age>60_loss: The total financial loss (in US dollars) for victims aged 60 and above.

    
    This dataset is ideal for those who wish to investigate trends in cybercrime across different US states, the financial impact of various types of cybercrime, or the impact of cybercrime on different age groups. It can also be used to generate insights for developing strategies to combat cybercrime, implementing protective measures, and raising awareness about this growing issue. The crime data contained herein was extracted from the Internet Crime Complaint Centre, a unit under the FBI, which ensures its authenticity and reliability.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
crime_df = pd.read_csv('crime_data.csv')

In [3]:
crime_df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [10]:
crime_df.describe()

,DR_NO,TIME OCC,AREA,Rpt Dist No,Part 1-2,Crm Cd,Vict Age,Premis Cd,Weapon Used Cd,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LAT,LON
count,6.949150e+05,694915.000000,694915.000000,694915.000000,694915.000000,694915.000000,694915.000000,694907.000000,241434.000000,694906.000000,51816.000000,1747.000000,52.000000,694915.000000,694915.000000
mean,2.134252e+08,1333.809936,10.712713,1117.650033,1.415976,500.592415,29.969890,305.024871,362.202080,500.332790,956.742782,982.900401,990.615385,33.962489,-117.968027
std,9.519111e+06,654.271226,6.089274,608.929482,0.492890,207.846384,21.689495,216.431529,123.804416,207.636381,112.844364,57.146206,29.227407,1.945728,6.748226
min,8.170000e+02,1.000000,1.000000,101.000000,1.000000,110.000000,-2.000000,101.000000,101.000000,110.000000,121.000000,9.000000,821.000000,0.000000,-118.667600
25%,2.019173e+08,900.000000,6.000000,622.000000,1.000000,330.000000,12.000000,101.000000,308.000000,330.000000,998.000000,998.000000,998.000000,34.013200,-118.429400
50%,2.116044e+08,1413.000000,11.000000,1141.000000,1.000000,442.000000,31.000000,203.000000,400.000000,442.000000,998.000000,998.000000,998.000000,34.058400,-118.321400
75%,2.211135e+08,1900.000000,16.000000,1617.000000,2.000000,626.000000,45.000000,501.000000,400.000000,626.000000,998.000000,998.000000,998.000000,34.163100,-118.273900
max,2.399097e+08,2359.000000,21.000000,2199.000000,2.000000,956.000000,120.000000,971.000000,516.000000,956.000000,999.000000,999.000000,999.000000,34.334300,0.000000

In [11]:
crime_df.shape

(694915, 28)

In [12]:
crime_df.isnull().sum()

DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Mocodes            95563
Vict Age               0
Vict Sex           91046
Vict Descent       91052
Premis Cd              8
Premis Desc          366
Weapon Used Cd    453481
Weapon Desc       453481
Status                 0
Status Desc            0
Crm Cd 1               9
Crm Cd 2          643099
Crm Cd 3          693168
Crm Cd 4          694863
LOCATION               0
Cross Street      582058
LAT                    0
LON                    0
dtype: int64

In [13]:
crime_df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694910,230804266,01/08/2023 12:00:00 AM,01/08/2023 12:00:00 AM,1030,8,West LA,839,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,IC,Invest Cont,341.0,NaN,NaN,NaN,10200 SANTA MONICA BL,NaN,34.0611,-118.4184
694911,230109201,03/23/2023 12:00:00 AM,03/22/2023 12:00:00 AM,1830,1,Central,111,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,IC,Invest Cont,440.0,NaN,NaN,NaN,700 W CESAR E CHAVEZ AV,NaN,34.0606,-118.2439
694912,231604807,01/27/2023 12:00:00 AM,01/26/2023 12:00:00 AM,1800,16,Foothill,1663,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,12500 BRANFORD ST,NaN,34.2466,-118.4054
694913,231606525,03/22/2023 12:00:00 AM,03/22/2023 12:00:00 AM,1000,16,Foothill,1602,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,12800 FILMORE ST,NaN,34.2790,-118.4116
694914,230906458,03/05/2023 12:00:00 AM,03/05/2023 12:00:00 AM,900,9,Van Nuys,914,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,14500 HARTLAND ST,NaN,34.1951,-118.4487

In [ ]:
result =